# .env.example

# JWT Secret Key for token signing
JWT_SECRET=your-super-secret-key

# The origin (URL) of the frontend application for CORS
CORS_ORIGIN=http://localhost:5173

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://user:password@host:port/database?pgbouncer=true&sslmode=require"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://user:password@host:port/database?sslmode=require"
